$black: #232323;
$background-rgb: rgb(141, 226, 255);
$background: linear-gradient(106deg, rgba(141, 226, 255, 1) 0%, rgba(164, 134, 254, 1) 100%);
$grey: #f6f6f6;
$dark-grey: #d2cfcf;
$violet: #a486fe;

$container-width: 90%;

$duration: 0.15s;